# Backend - Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/
.python_packages/
.idea/
.vscode/
.coverage
htmlcov/
local.settings.json

# Frontend - Vue/JavaScript
.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env.local
.env.*.local
.eslintcache

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mobile development
.gradle/
local.properties
.android/
.ios/
android/build/
ios/build/
android/app/build/
ios/App/build/
*.apk
*.aab
*.ipa

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Capacitor
/android/capacitor-cordova-android-plugins
/ios/App/Pods/
/ios/capacitor-cordova-ios-plugins

# System Files
.DS_Store
Thumbs.db